﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MyResume Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">

</head>
<body>

    <div>
    <!-- ======= Mobile nav toggle button ======= -->
    <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
    <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex flex-column justify-content-center">

        <nav id="navbar" class="navbar nav-menu">
            <ul>
                    <li><a  class="nav-link scrollto @(ViewBag.Title=="Home"?"active":"")" asp-action="Index" asp-controller="home"><i class="bx bx-home"></i> <span>Home</span></a></li>
                    <li><a asp-controller="home" asp-action="about" class="nav-link scrollto @(ViewBag.Title=="about"?"active":"")"><i class="bx bx-user"></i> <span>About</span></a></li>
                    <li><a asp-controller="home" asp-action="resume" class="nav-link scrollto @(ViewBag.Title=="resume"?"active":"")"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
                    <li><a asp-controller="home" asp-action="portfolio" class="nav-link scrollto @(ViewBag.Title=="portfolio"?"active":"")"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
                    <li><a asp-controller="home" asp-action="services" class="nav-link scrollto @(ViewBag.Title=="services"?"active":"")"><i class="bx bx-server"></i> <span>Services</span></a></li>
                    <li><a asp-controller="home" asp-action="contact" class="nav-link scrollto @(ViewBag.Title=="contact"?"active":"")"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </header><!-- End Header -->

     
        
        <main id="main">
            @RenderBody()
        </main><!-- End #main -->
        </main><!-- End #main -->
        </main><!-- End #main -->
        <!-- ======= Footer ======= -->
        <footer id="footer">
            <div class="container">
                <h3>Akshay Chauhan</h3>
                <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligend  i fuga maxime saepe commodi placeat.</p>
                <div class="social-links">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
                <div class="copyright">
                    &copy; Copyright <strong><span>MyResume</span></strong>. All Rights Reserved
                </div>
            </div>
        </footer><!-- End Footer -->

        <div id="preloader"></div>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="~/vendor/purecounter/purecounter_vanilla.js"></script>
        <script src="~/vendor/aos/aos.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="~/vendor/typed.js/typed.umd.js"></script>
        <script src="~/vendor/waypoints/noframework.waypoints.js"></script>
        <script src="~/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="~/js/main.js"></script>
    </div>
</body>
</html>


